<!DOCTYPE html>
<html lang="en">
<head>
    <title>TRUMPQUOTES</title>
</head>
<body>

<p>Donald Trump, as interpreted by a statistical language model.</p>

<h1>{{ quote }}</h1>

<form action="{{next_quote_url}}">
    <input type="submit" value="Next quote, please!" />
</form>

</body>
</html>
